<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"  
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://www.springframework.org/schema/beans   
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="adrsObj"  class="com.core.beans.Address">
			<property name="dno" value="D.No. 11-121/A"/>
			<property name="loc" value="Hyderabad"/>
			<property name="phone" value="9988123456"/>
	</bean>
	
	<bean id="empObj"  class="com.core.beans.Employee">
		<property name="empno" value="1001"/>
		<property name="ename" value="Satyam"/>
		
		<property  name="adrs"  ref="adrsObj" />
	</bean>
</beans>